# Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

### Observations

1- Total number of players is 576 and 84.03% is male. Also male players are overwhelmed at purchasing data as well. Total purchase is 780 for 183 unique items and male players made 652 purchases which makes 83.5% of the whole purchase.

2- The 20-24 age group purchases the most items and had the highest purchase amount of all age groups.

3- The average price for all items is around $2.93, only players over 40 did not match with that average amoung the all ages, the rest spent above this average. If purchasing goal and the items' prices will match at that average, at least one item would be bought from the store.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np


# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
total_players = len(purchase_data['SN'].unique())

total_players_df = pd.DataFrame({"Total Players": [total_players]})

total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
number_unique_items = len(purchase_data['Item ID'].unique())

number_purchases = len(purchase_data['SN'])

total_reve = sum(purchase_data['Price'])

avarage = sum(purchase_data['Price'])/len(purchase_data['SN'])


summary_table = pd.DataFrame({"Number of Uniquie Items": [number_unique_items],
                              "Avarage Price": [avarage],
                              "Number of Purchases": [number_purchases],
                              "Total Revenue": [total_reve]})

#summary_table['Total Revenue'] = '$' + (summary_table['Total Revenue'].astype(int)).astype(str)
#summary_table['Avarage Price'] = '$' + (summary_table['Avarage Price'].astype(float)).astype(str)

summary_table['Total Revenue'] = (summary_table['Total Revenue']).apply(lambda x: '${:,.2f}'.format(x))
summary_table['Avarage Price'] = (summary_table['Avarage Price']).apply(lambda x: '${:,.2f}'.format(x))


summary_table

   Number of Uniquie Items Avarage Price  Number of Purchases Total Revenue
0                      183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
male = purchase_data.loc[purchase_data['Gender'] == 'Male',:]

total_male = len(male["SN"].unique())

female = purchase_data.loc[purchase_data['Gender'] == 'Female' ,:]

total_female = len(female['SN'].unique())

other = purchase_data.loc[purchase_data['Gender'] == 'Other / Non-Disclosed' ,:]

total_other = len(other['SN'].unique())

#----------------------------------------------------------------------#

total = total_male + total_female + total_other

#----------------------------------------------------------------------#

percentage_male = (total_male/total) * 100

percentage_female = (total_female/total) * 100

percentage_other = (total_other/total) * 100

#----------------------------------------------------------------------#

demo_gen = pd.DataFrame({"": ['Male', 'Female', 'Other/Non-Disclosed'],
                            "Total Count": [total_male, total_female, total_other],     
                             "Percentage of Players": [percentage_male, percentage_female, percentage_other]})


demo_gen["Percentage of Players"] = demo_gen["Percentage of Players"].map("{:.2f}%".format)

demo_gen = demo_gen.set_index('')

demo_gen

                     Total Count Percentage of Players

Male                         484                84.03%
Female                        81                14.06%
Other/Non-Disclosed           11                 1.91%

##Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
male_pur = purchase_data.loc[purchase_data['Gender'] == 'Male',:]

t_male_pur = len(male["Item Name"]) #-----> Purchase count

female_pur = purchase_data.loc[purchase_data['Gender'] == 'Female',:]

t_female_pur = len(female["Item Name"]) #-----> Purchase count

other_pur = purchase_data.loc[purchase_data['Gender'] == 'Other / Non-Disclosed',:]

t_other_pur = len(other["Item Name"]) #-----> Purchase count

#-------------------------------------------------------------------#

total_pur = t_male_pur + t_female_pur + t_other_pur

#-------------------------------------------------------------------#

male_avr = purchase_data.loc[purchase_data['Gender'] == 'Male',:]

t_male_avr = sum(male["Price"]) #-----> Total purchase value

avarage_p_male = sum(male["Price"]) / len(male["Item Name"])

#-------------------------------------------------------------------#

female_avr = purchase_data.loc[purchase_data['Gender'] == 'Female',:]

t_female_avr = sum(female["Price"]) #-----> Total purchase value

avarage_p_female = sum(female["Price"]) / len(female["Item Name"])

#-------------------------------------------------------------------#

other_avr = purchase_data.loc[purchase_data['Gender'] == 'Other / Non-Disclosed',:]

t_other_avr = sum(other["Price"]) #-----> Total purchase value

avarage_p_other = sum(other["Price"]) / len(other["Item Name"])

#--------------------------------------------------------------------#

# Avg Total Purchase per Person

per_avrg_male = t_male_avr / total_male

per_avrg_female = t_female_avr / total_female

per_avrg_other = t_other_avr / total_other

#--------------------------------------------------------------------#

purch_ana = pd.DataFrame({"": ['Male', 'Female', 'Other/Non-Disclosed'],
                            "Purchase Count": [t_male_pur, t_female_pur, t_other_pur],     
                             "Avarage Purchase Price": [avarage_p_male, avarage_p_female, avarage_p_other],
                             "Total Purchase Value": [t_male_avr, t_female_avr, t_other_avr],
                              "Avg Total Purchase per Person": [per_avrg_male, per_avrg_female, per_avrg_other]})


#purch_ana["Avarage Purchase Price"] = demo_gen["Avarage Purchase Price"].map("${:.2f}".format)
#purch_ana["Total Purchase Value"] = demo_gen["Total Purchase Value"].map("${:.2f}".format)
#purch_ana["Avg Total Purchase per Person"] = demo_gen["Avg Total Purchase per Person"].map("${:.2f}".format)

purch_ana['Avarage Purchase Price'] = (purch_ana['Avarage Purchase Price']).apply(lambda x: '${:,.2f}'.format(x))
purch_ana['Total Purchase Value'] = (purch_ana['Total Purchase Value']).apply(lambda x: '${:,.2f}'.format(x))
purch_ana['Avg Total Purchase per Person'] = (purch_ana['Avg Total Purchase per Person']).apply(lambda x: '${:,.2f}'.format(x))

purch_ana = purch_ana.set_index('')

purch_ana

,Purchase Count,Avarage Purchase Price,Total Purchase Value,Avg Total Purchase per Person
,,,,
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other/Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]

group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bins, labels=group_names)

purchase_data

age_grouped = purchase_data.groupby("Age Group")

t_count_age = age_grouped["SN"].nunique()

percantage_by_age = (t_count_age/total_players) * 100

demo_age = pd.DataFrame({"Total Count": t_count_age, "Percentage of Players": percantage_by_age})

demo_age.index.name = None

demo_age.style.format({"Percentage of Players":"{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [16]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]

group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], age_bins, labels=group_names)

age_ranges = purchase_data.groupby(['Age Ranges'])

purchase_count = age_ranges["Purchase ID"].count()

avg_p_pr = age_ranges["Price"].mean()

total_pur = age_ranges["Price"].sum()

avg_per_person = total_pur/t_count_age

demo_age = pd.DataFrame({"Purchase Count": purchase_count,
                                 "Average Purchase Price": avg_p_pr,
                                 "Total Purchase Value":total_pur,
                                 "Average Purchase Total per Person": avg_per_person})

#demo_age.index.name = None

demo_age.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [13]:
spender = purchase_data.groupby("SN")

purc_spender = spender["Purchase ID"].count()

avg_spender = spender["Price"].mean()

total_spender = spender["Price"].sum()

top_spenders = pd.DataFrame({"Purchase Count": purc_spender,
                             "Average Purchase Price": avg_spender,
                             "Total Purchase Value":total_spender})

formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

formatted_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [14]:
items = purchase_data[["Item ID", "Item Name", "Price"]]

grouped_items = items.groupby(["Item ID", "Item Name"])

purchase_count_item = grouped_items["Item Name"].count()

purchase_value = grouped_items["Price"].sum()

item_price = purchase_value / purchase_count_item

most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})


popular_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

# Format with currency style
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [15]:
popular_formatted = most_popular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})